In [34]:
import pandas as pd
import numpy as np
import re
from datetime import datetime
import seaborn as sns

### Config

In [35]:
folder_path = "real_times.csv"
data_dict = {}

### Load Data

In [36]:
df = pd.read_csv(folder_path, header=None, names=['name', 'value'])

for _, row in df.iterrows():
    match = re.match(r"interference-([^-]+)-([^.]+).raw", row['name'])
    if match:
        category, test = match.groups()
        value = row['value']
        value = value.strip()
        t = datetime.strptime(value,'%Mm%S.%fs') 
        total_seconds = t.minute * 60 + t.second + t.microsecond/1000000

        if test not in data_dict:
            data_dict[test] = {}
        data_dict[test][category] = total_seconds

times_table = pd.DataFrame(data_dict).T

In [37]:
### Normalize data with respect to None values
normalized_times_table = times_table.div(times_table['none'], axis=0)
normalized_df = normalized_times_table.round(2)

In [39]:
times_table

                  cpu      l1d      l1i       l2      llc    membw     none
blackscholes    1.097    1.189    1.355    1.185    1.285    1.199    0.862
canneal        17.476   17.743   18.224   17.601   25.476   18.389   11.401
dedup          46.358   34.454   53.197   33.632   58.124   45.671   27.819
ferret         11.959    9.430   14.326    9.277   16.659   13.992    5.904
freqmine       13.135    6.815   17.182    6.841   12.216   10.270    6.596
radix          60.621   67.394   69.603   65.658   98.983   66.025   59.965
vips          183.382  189.673  200.105  195.693  224.500  180.608  114.298

In [38]:
normalized_df

               cpu   l1d   l1i    l2   llc  membw  none
blackscholes  1.27  1.38  1.57  1.37  1.49   1.39   1.0
canneal       1.53  1.56  1.60  1.54  2.23   1.61   1.0
dedup         1.67  1.24  1.91  1.21  2.09   1.64   1.0
ferret        2.03  1.60  2.43  1.57  2.82   2.37   1.0
freqmine      1.99  1.03  2.60  1.04  1.85   1.56   1.0
radix         1.01  1.12  1.16  1.09  1.65   1.10   1.0
vips          1.60  1.66  1.75  1.71  1.96   1.58   1.0